:root{
    --color-primary: rgb(220, 145, 30);
    --color-secondary: rgb(199, 199, 199);
    --color-tertary: rgb(5, 0, 25);
}
  
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); 
    }
    80% {
        transform: translateX(10px); 
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    } 
}
  
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px); 
    }
    80% {
        transform: translateX(-10px); 
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    } 
}

/* @keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-30px); 
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    } 
} */

* {
    margin: 0;
    padding: 0; 
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-tertary);
    color: var(--color-primary);
    min-height: 100vh; 
}

.container {
    margin: 30px auto;
    max-width: 1140px;
    position: relative;
}

.heading-primary,
.heading-secondary{
    text-transform: uppercase;
    font-size: 98px;
    letter-spacing: 10px;
    text-align: center;
    line-height: 1.4;
    font-family: "GalaxyOutlineItalic", Roboto, sans-serif;
}    
.heading-primary__top {    display: block;

    animation: moveInLeft 1s;
}
.heading-primary__bottom{
    display: block;
    animation: moveInRight 1s;
}
/* .language{
    font-family: "GalaxyRegular", Roboto, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    animation: moveInTop 1s;
}

.language__input{
    display: none;
}

.language__label:hover{
    color: var(--color-secondary);
}
.language__input:checked+.language__label{
    font-size: 18px;
    color: var(--color-secondary)
} */
.panel-main,
.characters-panel,
.planets-panel{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.characters-panel,
.planets-panel,
.films__list{
   display: none;
}

.btn, .btn:link, .btn:visited {
    font-family: "GalaxyRegular", Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 15px;
    line-height: 20px;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer; 
    transition: all .2s;
}
  
.btn:hover {
    transform: translateY(-2px);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}
 
.btn:active,
.btn:focus {
    outline: none;
}

.btn:active{
    transform: translateY(1px); 
}

.btn_left{
    animation: moveInLeft 1s;
}

.btn_right{
    animation: moveInRight 1s;
}

.characters-panel{
    max-width: 500px;
}

.films{
    position: relative;
    min-width: 290px;
}

.films__current,
.films__item
.planets-panel>*{
    font-size: 16px;
}

.films__current{
    text-transform: none;
    font-family: Roboto, sans-serif;
    position: relative;
    padding-right: 25px;
}

.films__current::after{
    content: "";
    border: solid var(--color-primary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    top: 10px;
}

.films__list{
    background-color: var(--color-tertary);
    position: absolute;
    padding: 5px 0;
    border-radius: 10px;
    flex-direction: column;
}

.films__item{
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    line-height: 30px;
}

.films__item:hover{
    color: var(--color-secondary);
    cursor: pointer;
}

.visible{
    display: flex;
}

.content-wrap{
    background-color: var(--color-secondary);
    color: var(--color-tertary);
    border-radius: 10px;
    padding: 15px 30px;
}

.heading-secondary{
    text-transform: uppercase;
    font-family: "GalaxyItalic", Roboto, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}

.heading-secondary > *{
    display: block;

}

.characters__list,
.planets__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
}
.characters__item,
.planets__item{
    display: flex;
    border: 1px var(--color-tertary) solid;
    flex: 1 0 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.characters__item > *{
    flex: 1;
    padding: 0 5px;
}

.planets-panel{
    max-width: 200px;
}
.planets__item{
    flex: 0 1 200px;
}